<nav>
    <div>
        <div>
            <a href="/">Home</a>
        </div>
        <div>
            <a href="/blogs">Blogs</a>
            <a href="/create">New Blog</a>
            <a href="/about">About</a>
        </div>

    </div>
</nav>