<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="tableDiv">
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Mohamed Shahul Hameed</td>
            </tr>
            <tr>
                <td>Qualification</td>
                <td>Bsc Information Technology</td>
            </tr>
            <tr>
                <td>Skills</td>
                <td>JavaScript, React Js, Html, Css, Mui, MongoDb, Node Js, Express Js</td>
            </tr>
        </tbody>
    </table>
    </div>

   <%- include('../partials/footer.ejs') %>

</body>
</html>